{% extends "base.html" %} {% block head %} {% endblock %} {% block content %}
<br /><br />

<div class="flex justify-center flex-col items-center">
    <button class="border-2 rounded-3xl bg-gray-300 p-3" id="download-btn">
        Скачать файл
    </button>
    <span id="status-message" class="mt-4 text-sm text-gray-500"></span>
</div>
<script type="text/javascript">
    function wait(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
    }
    document
        .getElementById("download-btn")
        .addEventListener("click", async () => {
            document.getElementById("download-btn").disabled = true;
            document
                .getElementById("download-btn")
                .classList.add(
                    "bg-gray-500",
                    "opacity-30",
                    "cursor-not-allowed"
                );
            console.log("{{ api_url|safe }}");
            const statusMessage = document.getElementById("status-message");
            statusMessage.textContent = "Запросили файл...";
            try {
                event.preventDefault();
                const url = "{{ api_url|safe }}";
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                const result = await response.json();
                if (result.status === 2) {
                    const response = await fetch(result.download_url);
                    if (response.ok) {
                        statusMessage.textContent = "Получили файл. Отдаем...";
                        const blob = await response.blob();
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement("a");
                        a.style.display = "none";
                        a.href = url;
                        const contentDisposition = response.headers.get(
                            "Content-Disposition"
                        );
                        const fileNameMatch =
                            contentDisposition &&
                            contentDisposition.match(/filename="?(.+)"?/);
                        const fileName = fileNameMatch
                            ? decodeURIComponent(fileNameMatch[1])
                            : "downloaded_file";
                        a.download = fileName;
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                        statusMessage.textContent =
                            "Готово. Подождите немного...";
                        document.getElementById(
                            "download-btn"
                        ).disabled = false;
                        const downloadBtn =
                            document.getElementById("download-btn");
                        if (downloadBtn) {
                            downloadBtn.disabled = false;
                            downloadBtn.classList.remove(
                                "bg-gray-500",
                                "opacity-30",
                                "cursor-not-allowed"
                            );
                            downloadBtn.classList.add("cursor-pointer");
                        }
                        await wait(5000);
                        statusMessage.textContent = "";
                    } else {
                        if (response.status === 404) {
                            alert("файл не был найден");
                        } else {
                            console.error(
                                "Failed to download file:",
                                response.statusText
                            );
                        }
                    }
                } else {
                    alert("Что-то пошло не так..");
                }
            } catch (error) {
                console.error("Error fetching file:", error);
                statusMessage.textContent =
                    "Ошибка. Попробуйте ещё раз или позже.";
            }
        });
</script>
{% endblock %}
